NODE_ENV=development
APP_HOST=0.0.0.0
APP_PORT=3020
APP_SECRET=change-this-secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=CHANGE_ME_ADMIN_PASSWORD
PUBLIC_BASE_URL=http://deb-srv-docker:3020
APP_SECURE_COOKIES=false

MSSQL_HOST=MS-SRV-SQL
MSSQL_PORT=1433
MSSQL_DATABASE=Besuchermngmt
MSSQL_USER=dockerBesuchermngmt
MSSQL_PASSWORD=change-this-password
MSSQL_ENCRYPT=false
MSSQL_TRUST_SERVER_CERTIFICATE=true

UPLOAD_DIR=/app/uploads
VISITOR_RETENTION_DAYS=90
PUBLIC_FORM_RATE_LIMIT=5
PUBLIC_FORM_RATE_WINDOW_SECONDS=300
