NODE_ENV=production
APP_HOST=0.0.0.0
PORT=3030
PUBLIC_BASE_URL=http://deb-srv-docker:3030

MSSQL_HOST=MS-SRV-SQL
MSSQL_PORT=1433
MSSQL_DATABASE=Besuchermngmt
MSSQL_USER=dockerBesuchermngmt
MSSQL_PASSWORD=CHANGE_ME_LOCAL_ONLY

MSSQL_ENCRYPT=false
MSSQL_TRUST_SERVER_CERTIFICATE=true

ADMIN_USERNAME=admin
ADMIN_PASSWORD=CHANGE_ME_LOCAL_ONLY

APP_SECRET=CHANGE_ME_LOCAL_ONLY
APP_SECURE_COOKIES=false

UPLOAD_DIR=/app/uploads
AUDIT_REVERSE_DNS_ENABLED=false
AUDIT_TRUST_REMOTE_USER_HEADER=false
AUDIT_REMOTE_USER_HEADER=x-auth-user
